html, body, root {
    margin: 0;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato.ttf');
}

.app {
    position: relative;
    font-family: 'Lato';
}

.app-header {
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: 'raw';
    justify-content: space-between;
    background-color: rgba(16, 16, 29, 0.9);
    text-transform: uppercase;
    z-index: 10;

    @media (min-width: 768px) {
        justify-content: space-around;
    }
    @media (min-width: 1440px) {
        height: 100px;
    }
    .logo {
        display: flex;
        align-items: center;
        color: #FFFFFF;
        font-weight: 800;
        font-size: 18px;
        margin-left: 20px;
        @media (min-width: 1440px) {
            font-size: 28px;
        }
        span {
            color: #43ABF0;
        }
    }
    .burger-menu {
        position: absolute;
        top: 18%;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 10;
        
        &:focus {
            outline: none;
        }
        @media screen and (min-width: 768px) {
            visibility: hidden;
        }
    }
    .menu {
        visibility: hidden;
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        background-color: rgba(16, 16, 29, 0.9);
        width: 250px;
        align-items: flex-end;
        a {
            margin: 10px 30px 10px 0;
            color: #FFFFFF;
            
            &:hover {
                color: #43ABF0
            }
        }
        @media screen and (min-width: 768px) {
            visibility: visible;
            position: inherit;
            flex-direction: row;
            background-color: transparent;
            justify-content: space-around;
            width: 435px;
            height: 100%;
            align-items: center;
            a {
                margin: 0;
                font-weight: 400;
                font-size: 13px;
                line-height: 15.6px;
            }
        }
    }
}

.about-block {
    min-height: 50vh;
    background-image: url('./images/Слой\ 9.png');
    background-size: cover;
    background-position: 60% 0;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 768px) {
        height: (100vw / (1950 / 850));
    }

    .about-block_content {
        margin-left: 5%;
        margin-top: 10%;
        max-width: 780px;
        @media (min-width: 768px) {
            margin-top: 5%;
        }
        @media (min-width: 1024px) {
            margin-top: 0;
            margin-left: 15%;
        }
        @media (min-width: 1920px) {
            margin-left: 375px;
        }
        .title {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 700;
            span {
                color: #43ABF0;
            }
            @media (min-width: 768px) {
                font-size: 28px;
            }
            @media (min-width: 1280px) {
                font-size: 40px;
            }
            @media (min-width: 1920px) {
                font-size: 48px;
            }
        }
        .description {
            margin-top: 20px;
            font-size: 12px;
            @media (min-width: 768px) {
                font-size: 14px;
            }
            @media (min-width: 768px) {
                margin-top: 30px;
            }
            @media (min-width: 1280px) {
                font-size: 20px;
            }
            @media (min-width: 1920px) {
                margin-top: 80px;
            }
            p {
                font-weight: 700;
                margin-bottom: 10px;
            }
            ul {
                margin-left: 15px;
            }
            li {
                font-weight: 400;
                &::marker {
                    content: '- ';
                    font-size: 1.2em;
                }
            }
        }

        .buttons {
            width: 280px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (min-width: 768px) {
                width: 350px;
            }
            @media (min-width: 1024px) {
                margin-top: 50px;
            }
            @media (min-width: 1440px) {
                margin-top: 80px;
                width: 396px;
            }
            .button {
                width: 130px;
                height: 30px;
                border-radius: 4px;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 400;
                cursor: pointer;
                @media (min-width: 768px) {
                    width: 150px;
                }
                @media (min-width: 1440px) {
                    width: 183px;
                    height: 43px;
                    font-size: 13px;
                }
            }
            .order-button {
                background-color: #43ABF0;
                color: #FFFFFF;
                border: 1px solid #FFFFFF;
                &:hover {
                    border: 2px solid #FFFFFF;
                }
                &:active {
                    background: #3E9CDC;
                }
            }
            .more-button {
                background-color: #FFFFFF;
                color: #2A2B30;
                border: 1px solid #6F6D7B;
                &:hover {
                    border: 2px solid #6F6D7B;
                }
                &:active {
                    background: #dbdbdb;
                }
            }
        }
    }
}

.ordering-block {
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/Слой\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(39, 39, 51, 1);
    @media (min-width: 768px) {
        padding: 60px 20px;
    }
    @media (min-width: 1024px) {
        padding: 100px 20px;
    }
    .ordering_content {
        max-width: 1190px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #FFFFFF;
        .ordering_text {
            width: 100%;
            text-align: center;
            h1 {
                text-transform: uppercase;
                font-size: 20px;
                margin-bottom: 10px;
                @media (min-width: 768px) {
                    font-size: 28px;
                }
                @media (min-width: 1024px) {
                    margin-bottom: 30px;
                }
                @media (min-width: 1440px) {
                    font-size: 36px;
                }
            }
            span {
                color:#43ABF0
            }
            p {
                color: #BBBBBB;
                font-size: 12px;
                @media (min-width: 768px) {
                    font-size: 16px;
                }
                @media (min-width: 1440px) {
                    font-size: 18px;
                }
            }
        }
        .orgering_stages {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            @media (min-width: 768px) {
                flex-direction: row;
            }
            @media (min-width: 1024px) {
                margin-top: 80px;
            }
            .stage_item {
                width: 140px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                @media (min-width: 1440px) {
                    width: 188px;
                }
                .circle {
                    width: 70px;
                    height: 70px;
                    border: 3px solid #286690;
                    border-radius: 50%;
                    background-color: #3E9CDC;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media (min-width: 1440px) {
                        width: 100px;
                        height: 100px;
                        border: 5px solid #286690;
                    }
                }
                .description {
                    margin-top: 10px;
                    font-size: 12px;
                    font-weight: 400;
                    @media (min-width: 1024px) {
                        margin-top: 20px;
                        font-size: 14px;
                    }
                }
            }
            .order_separate {
                height: 60px;
                width: 6px;
                margin: 10px 70px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media (min-width: 768px) {
                    flex-direction: row;
                    height: 6px;
                    width: 60px;
                    margin: 40px -25px;
                }
                @media (min-width: 1440px) {
                    width: 110px;
                    margin: 55px -20px;
                }
                div {
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: #C4C4C4;
                    @media (min-width: 1440px) {
                        width: 6px;
                        height: 6px;
                    }
                }
            }
        }
        .ordering_form {
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (min-width: 1440px) {
                margin-top: 80px;
            }
            .input {
                outline: none;
                height: 33px;
                padding: 2px 10px;
                background: rgba(255, 255, 255, 0.85);
                border: 1px solid #FFFFFF;
                border-radius: 3px;
                @media (min-width: 768px) {
                    width: 210px;
                }
                @media (min-width: 1440px) {
                    width: 350px;
                    height: 42px;
                    font-size: 18px;
                }
            }
            .inputs-block {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media (min-width: 768px) {
                    flex-direction: row;
                }
            }
            .form_inputs {
                input {
                    margin-top: 8px;
                    color: #272733;
                    &::placeholder {
                        color: #272733;
                    }
                    &:-ms-input-placeholder {
                        color: #272733;
                    }
                    &::-ms-input-placeholder {
                        color: #272733;
                    }
                    &:focus {
                        outline: 2px solid #42A9ED;
                    }
                    @media (min-width: 768px) {
                        margin-top: 0;
                    }
                }
                .select-container {
                    position: relative;
                    cursor: pointer;
                    font-size: 14px;
                    @media (min-width: 1440px) {
                        font-size: 18px;
                    }
                    .select_button {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .select_button-default {
                        color: #272733;
                    }
                    .select_button-open {
                        background: #3D4050;
                        border: none;
                        border-radius: 3px 3px 0 0 ;
                    }
                    ul {
                        position: absolute;
                        background: #272733;
                        border-bottom: 1px solid #3D4050;
                        width: 100%;
                        max-height: 140px;
                        overflow: scroll;
                        overflow-x: hidden;
                        border-radius: 0 0 3px 3px;
                        padding-right: -2px;
                        list-style-type: none;
                        &::-webkit-scrollbar {
                            width: 5px;
                        }
                        &::-webkit-scrollbar-track {
                            background: #3D4050;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: #3E9CDC;
                            border-radius: 3px;
                        }
                        @media (min-width: 1440px) {
                            max-height: 228px;
                        }
                        li {
                            padding: 5px 10px;
                            border: 1px solid #3D4050;
                            border-top: none;
                            border-bottom: none;
                            &:nth-last-child(1) {
                                padding-bottom: 10px;
                            }
                            &:first-child {
                                padding-top: 10px;
                            }
                            &:hover {
                                color: #42A9ED;
                            }
                            @media (min-width: 1440px) {
                                padding: 10px;
                            }
                        }
                    }
                }
            }
            .form_additional-inputs {
                margin-top: 20px;
                .slider-block {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .description {
                        display: flex;
                        justify-content: space-between;
                        @media (min-width: 1440px) {
                            font-size: 18px;
                       }
                    }
                    .slider {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 100%;
                        height: 6px;
                        margin-top: 15px;
                        background: #FFFFFF;
                        outline: none;
                        border-radius: 3px;
                        &::-webkit-slider-thumb {
                            appearance: none;
                            -webkit-appearance: none;
                            width: 23.72px;
                            height: 23.72px;
                            background: #42A9ED;
                            border: 3px solid #286690;
                            border-radius: 50%;
                            cursor: pointer;
                            &:active {
                                outline: 1px solid #286690;
                            }
                        }
                        &::-moz-range-thumb {
                            width: 23.72px;
                            height: 23.72px;
                            background: #42A9ED;
                            cursor: pointer;
                        }
                        @media (min-width: 768px) {
                            width: 500px;
                            margin-top: 0;
                        }
                        @media (min-width: 1440px) {
                            width: 770px;
                        }
                    }
                }
                .input-file {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
                .label-input-file {
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 12px;
                    color: #272733;
                    background: #FFFFFF;
                    outline: 2px solid #3E9CDC;
                    cursor: pointer;
                    span {
                        margin-left: 5px;
                        @media (min-width: 1440px) {
                            font-size: 18px;
                        }
                    }
                    @media (min-width: 768px) {
                        margin-top: 0;
                    }
                    .attachedStyle {
                        color: #3E9CDC;
                    }
                    &:hover {
                        outline: 3px solid #3E9CDC;
                    }
                    &:active {
                        background: #dbdbdb;
                    }
                }
            }
            .form_submit-button {
                margin: 30px 0;
                width: 100%;
                height: 39px;
                background: #3E9CDC;
                border: 1px solid #FFFFFF;
                border-radius: 4px;
                color: #FFFFFF;
                font-size: 12px;
                text-transform: uppercase;
                cursor: pointer;
                @media (min-width: 768px) {
                    width: 232px;
                }
                @media (min-width: 1440px) {
                    height: 48px;
                    font-size: 18px;
                    margin-top: 50px;
                }
                &:hover {
                    outline: 1px solid #FFFFFF;
                }
                &:active {
                    background: #286690;
                }
            }
        }
    }
}

.app-footer {
    min-height: 50px;
    background-color: #3D4050;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #C3C3C3;
    font-size: 13px;
    @media (min-width: 1024px) {
        padding: 0;
    }
    a {
        color: #C3C3C3;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 1024px) {
            flex-direction: row;
        }
        .copywrite {
            color:#FFFFFF;
            @media (min-width: 1024px) {
                margin: 0 10px;
            }
            @media (min-width: 1440px) {
                margin: 0 20px;
            }
        }
        .separator {
            visibility: hidden;
            @media (min-width: 1024px) {
                width: 1px;
                height: 18px;
                margin: 0 10px;
                background-color: #C3C3C3;
                visibility: visible;
            }
            @media (min-width: 1440px) {
                margin: 0 20px;
            }
        }
        .items {
            display: flex;
            flex-direction: row;
            margin-top: 5px;
            @media (min-width: 1024px) {
                margin: 0;;
            }
            .item {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 5px;
                span {
                    margin-left: 3px;
                    @media (min-width: 1024px) {
                        margin-left: 10px;
                    }
                }
                @media (min-width: 1024px) {
                    margin: 0 10px;
                }
                @media (min-width: 1440px) {
                    margin: 0 20px;
                }
            }
        }
    }
}
